.btn {
	border: 1.6px solid var(--btn-border-color);
	border-radius: 8px;
	width: 48px;
	height: 48px;
	min-width: 48px;
	min-height: 48px;
}
.btn-menu {
	display: flex;
	flex-direction: column;
	gap: 4px;
	justify-content: center;
	align-items: center;
	background: var(--btn-menu-bg-color);
	border: none;
	flex-shrink: 0; 

	span {
		width: 16px;
		background: #1D1D1B;
		border-radius: 999px;
		height: 2px;
		display: block;
	}
}
.btn-contacts {
	background: var(--btn-contacts-bg-color);
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0; 
}
.top {
	justify-content: center;
	align-items: center;
	display: flex;
}
.email {
	width: auto;
	padding: 14px 24px;
}