.btn {
	border: 1.6px solid var(--btn-border-color);
	border-radius: 8px;
	width: 48px;
	height: 48px;
	min-width: 48px;
	min-height: 48px;
}
.btn-menu {
	display: flex;
	flex-direction: column;
	gap: 4px;
	justify-content: center;
	align-items: center;
	background: var(--btn-menu-bg-color);
	border: none;
	flex-shrink: 0; 

	span {
		width: 16px;
		background: #1D1D1B;
		border-radius: 999px;
		height: 2px;
		display: block;
	}
	@media (min-width: 1280px) {
		display: none;
	}
}
.btn-contacts {
	background: var(--btn-contacts-bg-color);
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0; 
	font-size: 0;
	@media (min-width: 1280px) {
		font-size: 14px;
		line-height: 145%;
		color: var(--color-h1);
		width: auto;
		padding: 14px 24px;
		text-transform: uppercase;
		font-family: 'Sofia Pro SemiBold';
		svg {
			display: none;
		}
	}
}
.top {
	justify-content: center;
	align-items: center;
	display: flex;
}
.email {
	width: auto;
	padding: 14px 24px;
}
.btn-menu-tablet {
	display: none;
}
.theme-switcher {
	display: none;
}
@media (min-width: 768px) {
	.btn-menu-tablet {
		display: grid;
		grid-template-columns: 20px 1fr;
		width: auto;
		padding: 14px;
		gap: 10px;
		div {
			display: flex;
			flex-direction: column;
			gap: 4px;
			justify-content: center;
			align-items: center;
			background: var(--btn-menu-bg-color);
			border: none;
			flex-shrink: 0;
			font-size: 14px;
			line-height: 145%;
			color: var(--color-h2);
		}
	}
	.theme-switcher {
		background: var(--btn-menu-bg-color);
		border: none;
		justify-content: center;
		align-items: center;
		display: flex;
	}
}
@media (min-width: 1280px) {
	.btn-menu-tablet {
		display: none;
	}
}