.hero-section {
	@media (min-width: 768px) {
		position: relative;
		overflow: hidden;
	}
	@media (min-width: 1280px) {
		position: initial;
	}
	.hero-section-content {
		padding: 74px 20px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		@media (min-width: 768px) {
			max-width: 540px;
			padding-top: 98px;
		}
		@media (min-width: 1280px) {
			max-width: 1280px;
			position: relative;
			h1, .text {
				max-width: 540px;
				margin: auto;
			}
		}
	}
}
.breadcrumb-container {
	.breadcrumb {
		position: relative;
		background: var(--hero-bg-color);
		border-radius: 0px 0px 20px 20px;
		width: fit-content;
		margin: 0;
		margin: auto;
		padding: 24px;
		&::before, &::after {
			display: inline-block;
			position: absolute;
			top: 0;
			width: 14px;
			height: 14px;
		}
		&::before {
			content: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_4005_1122)"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H-14V14V28H0H14V14V0H0ZM0 0C7.73199 0 14 6.26801 14 14C14 21.732 7.73199 28 0 28C-7.73199 28 -14 21.732 -14 14C-14 6.26801 -7.73199 0 0 0Z" fill="%23E30613"/></g><defs><clipPath id="clip0_4005_1122"><rect width="14" height="14" fill="white"/></clipPath></defs></svg>');
			margin-left: -14px;
			left: 0;
		}
		&::after {
			content: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_4005_1145)"><path fill-rule="evenodd" clip-rule="evenodd" d="M14 0H0V14V28H14H28V14V0H14ZM14 0C21.732 0 28 6.26801 28 14C28 21.732 21.732 28 14 28C6.26801 28 0 21.732 0 14C0 6.26801 6.26801 0 14 0Z" fill="%23E30613"/></g><defs><clipPath id="clip0_4005_1145"><rect width="14" height="14" fill="white"/></clipPath></defs></svg>');
			margin-right: -14px;
			right: 0;
		}
		* {
			color: var(--color-h1);
			text-decoration: none;
		}
		li {
			display: inline-block;
			margin-right: 14px;
			&:last-of-type {
				margin-right: 0;
			}
			&::before {
				content: url('data:image/svg+xml,<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.78531 3.45413L4.33977 1.41057C4.7981 1.0439 5.47705 1.37022 5.47705 1.95717L5.47705 6.0443C5.47705 6.63125 4.7981 6.95757 4.33976 6.59091L1.78531 4.54734C1.43503 4.26712 1.43503 3.73435 1.78531 3.45413Z" fill="white"/></svg>');
				margin-right: 15px;
				display: inline-block;
			}
			a {
				font-size: 14px;
				line-height: 145%;
			}
		}
	}
}
a {
	text-decoration: none;
	color: var(--link-color);
}
.bages-container {
	display: grid;
	gap: 10px;
	@media (min-width: 768px) and (max-width: 1279px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (min-width: 1280px) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas:
		"area-b1 area-b2 area-b2"
		"area-b1 area-b3 area-b4"
		"area-b5 area-b6 area-b8"
		"area-b5 area-b7 area-b8";

	}
	.bage {
		background: var(--bage-bg-color);
		border-radius: 20px;
		padding: 20px;
		display: flex;
		gap: 39px;
		flex-wrap: wrap;
		align-content: space-between;
		@media (min-width: 768px) and (max-width: 1279px) {
			grid-column: span 2;
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(6),
			&:nth-child(7) {
				grid-column: span 1;
			}
			&:nth-child(9),
			&:nth-child(10) {
				display: none;
			}
		}
		@media (min-width: 1280px) {
			&:nth-child(1) {
				grid-area: area-b1;
			}
			&:nth-child(2) {
				grid-area: area-b2;
			}
			&:nth-child(3) {
				grid-area: area-b3;
			}
			&:nth-child(4) {
				grid-area: area-b4;
			}
			&:nth-child(5) {
				grid-area: area-b6;
			}
			&:nth-child(6) {
				grid-area: area-b5;
			}
			&:nth-child(7) {
				grid-area: area-b7;
			}
			&:nth-child(8) {
				grid-area: area-b8;
			}
			&:nth-child(9),
			&:nth-child(10) {
				display: none;
			}
		}
		.bage-top, header {
			width: 100%;
			flex-shrink: 0;
			justify-content: space-between;
			display: flex;
		}
		.bage-top {
			align-items: center;
			.social-logotype {
				background: var(--bage-logo-bg-color);
				width: 48px;
				height: 48px;
				border-radius: 999px;
				justify-content: center;
				align-items: center;
				display: flex;
			}
			.tag {
				padding: 4px 8px;
				border: 1px solid var(--color-h2);
				backdrop-filter: blur(3px);
				border-radius: 6px;
				font-size: 12px;
				line-height: 135%;
				color: var(--color-h2);
			}
		}
		header {
			font-family: 'Sofia Pro Medium';
			font-size: 20px;
			line-height: 115%;
			color: var(--color-h2);
			&::after {
				content: url('data:image/svg+xml,<svg width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.34113 12.33L13.6495 12.33L9.58279 16.3967C9.25779 16.7217 9.25779 17.255 9.58279 17.58C9.65989 17.6573 9.75146 17.7186 9.85227 17.7604C9.95308 17.8022 10.0612 17.8237 10.1703 17.8237C10.2794 17.8237 10.3875 17.8022 10.4883 17.7604C10.5891 17.7186 10.6807 17.6573 10.7578 17.58L16.2495 12.0884C16.3267 12.0113 16.388 11.9197 16.4298 11.8189C16.4716 11.7181 16.4932 11.61 16.4932 11.5009C16.4932 11.3917 16.4716 11.2837 16.4298 11.1828C16.388 11.082 16.3267 10.9905 16.2495 10.9134L10.7578 5.42169C10.6806 5.34454 10.5891 5.28334 10.4882 5.24159C10.3874 5.19983 10.2794 5.17834 10.1703 5.17834C10.0612 5.17834 9.95314 5.19983 9.85234 5.24159C9.75154 5.28334 9.65995 5.34454 9.58279 5.42169C9.50564 5.49884 9.44444 5.59044 9.40269 5.69124C9.36093 5.79204 9.33944 5.90008 9.33944 6.00919C9.33944 6.1183 9.36093 6.22634 9.40269 6.32715C9.44444 6.42795 9.50564 6.51954 9.58279 6.59669L13.6495 10.6634L4.34113 10.6634C3.88279 10.6634 3.50779 11.0384 3.50779 11.4967C3.50779 11.955 3.88279 12.33 4.34113 12.33Z" fill="%231D1D1B" fill-opacity="0.4"/></svg>');
				display: inline-block
			}
		}
	}
}

.content-container-text {
	background: var(--content-text-bg-color);
	padding-top: 74px;
	padding-bottom: 74px;
	@media (min-width: 768px) and (max-width: 1279px) {
		padding-top: 104px;
		padding-bottom: 104px;
	}
	.text {
		margin-top: 20px;
		@media (min-width: 768px) and (max-width: 1279px) {
			margin: auto;
			margin-top: 24px;
			max-width: 540px;
		}
		font-size: 16px;
		line-height: 150%;
		color: var(--content-text-color);
		@media (min-width: 768px) {
			margin: auto;
			margin-top: 24px;
			max-width: 540px;
		}
	}
}
.slider {
	margin-top: 30px;
	position: relative;
	background: var(--slider-bg-color);
	padding: 20px 8px 8px;
	box-shadow: 0px 0px 20px rgba(29, 29, 27, 0.1);
	border-radius: 20px;
	.swiper-pagination-progressbar {
		width: 124px;
		height: 2px;
		background: var(--swiper-progress-bar-color);
		border-radius: 999px;
		overflow: hidden;
		position: relative !important;
		.swiper-pagination-progressbar-fill {
			background: var(--hero-bg-color);
			border-radius: 999px;
		}
	}
	.swiper-nav-container {
		display: grid;
		grid-template-columns: 48px 1fr 48px;
		height: 46px;
		align-content: center;
		align-items: center;
		gap: 20px;
		margin-bottom: 20px;
		margin-left: 12px;
		margin-right: 12px;
		@media (min-width: 768px) {
			margin-left: 0;
			margin-right: 0;
		}
		@media (min-width: 1280px) {
			grid-template-columns: 1fr 48px 48px;
		}
	}
	.swiper-button-next, .swiper-button-prev {
		width: 46px;
		height: 46px;
		background: var(--swiper-progress-bar-color);
		border-radius: 999px;
		opacity: 1 !important;
		position: relative;
		svg {
			fill: none;
			height: 20px;
			width: 20px;
		}
		@media (min-width: 1280px) {
			order: 2;
		}
	}
	.swiper-slide {
		background: var(--slider-slide-bg-color);
		border-radius: 20px;
		padding: 24px;
		display: grid;
		row-gap: 24px;
		justify-items: center;
		@media (min-width: 768px) {
			justify-items: start;
			text-align: left;
			gap: 48px;
		}
		.slide-content {
			display: flex;
			gap: 10px;
			flex-wrap: wrap;
			justify-content: center;
			font-family: 'Sofia Pro SemiBold';
			font-size: 18px;
			line-height: 130%;
			color: var(--color-h2);
			@media (min-width: 768px) {
				justify-content: start;
			}
			p {
				font-family: 'Sofia Pro';
				width: 100%;
				font-size: 14px;
				line-height: 145%;
				color: var(--content-text-color);
			}
		}
	}
	.swiper-pagination-container {
		display: grid;
		grid-template-columns: 8px 1fr 8px;
		gap: 20px;
		align-items: center;
		.digits {
			font-size: 14px;
			line-height: 145%;
			color: var(--hero-bg-color);
			font-family: 'Sofia Pro SemiBold';
		}
	}
}
.parallax {
	display: none;
	@media (min-width: 768px) {
		will-change: transform;
		display: block;
		position: absolute;
		bottom: 0;
	}
	@media (min-width: 768px) and (max-width: 1279px) {
		width: 284px;
		bottom: 0;
		&.left {
			bottom: -60px;
			left: -40px;
		}
		&.right {
			bottom: -60px;
			right: -40px;
		}
	}
	@media (min-width: 1280px) {
		width: 360px;
		&.left {
			left: -30px;
			bottom: -110px;
		}
		&.right {
			right: -30px;
			bottom: -120px;
		}
	}
}